*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
    font-family: sans-serif;
}

body{
    background-image: url("imges/Untitled.svg");
}

.container{
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
    background: #080808;
    -webkit-box-shadow: 6px 6px 1em #000;  
    -moz-box-shadow:    6px 6px 1em #000;  
    box-shadow:         6px 6px 1em #000; 
    border-radius: .5em;
    width: 30vw;
    height: 80vh;
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #333;
    height: 18vh;
    padding-right: .5em;
}

.result h3{
    font-size: 2em;
}

.result h4{
    color: #9b9b9b;
}

.keypad{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.keypad-layer{
    display: flex;
    justify-content: space-around;
}

button{
    font-size: 1.3em;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.operator{
    color: #ff4f00;
}

@media (max-width: 650px){
    body{
        background-size: contain;
    }

    .container{
        width: 85vw !important;
    }
}